ecoinvent 3.4_cutoff_ecoSpold02
.*/
__pycache__/
.envrc
# *.ipynb
*.xls
*.pkl
*.zip
*.exe
*.swp
*.csv
*.ignore.*
*.egg-info
build
dist
*.ignore.*
*all_output.ipynb
*.bw2
*.bash
example-notebook.ipynb
