tabulate==0.8.9
ipywidgets==7.6.5
pandas==1.4.1
seaborn==0.11.2
sympy==1.10.1
nbformat==5.3.0
bw2data==4.0.dev11
nbconvert==6.4.4
numpy==1.21.5
matplotlib==3.5.1
scipy==1.7.3
brightway2==2.3
brightway25==1.0.6
ipython==8.2.0
SALib==1.4.5